<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ledcolor" value="green"/>
    <add key="drive" value="0 c:"/>
    <add key="showSplash" value="true"/>
    <add key="updateInterval" value="10" />
  </appSettings>
</configuration>
